* {
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
}

html {
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
}

.navbar {
    width: 100%;
    height: 82px;
}

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    background: #5A1F8B;
    height: 70px;
    z-index: 99;
}

.nav-items {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left,
.nav-right {
    display: flex;
    gap: 20px;
}

.logo img {
    width: 139px;
    height: 52px;
}

.sub-nav {
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E8D7FF;
    position: relative;
    top: 70px;
    list-style: none;
}

.sub-nav a {
    text-decoration: none;
}



#sub-nav-items {
    justify-content: space-around;
}


.nav-hidden {
    width: 100%;
    height: 393px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 70px;
    z-index: 2;
}

#rings,
#earings,
#bracelates {
    display: none;
    box-shadow: 0px 5px #00000025;
}

/* #nav-items-rings:hover ~ #rings, */
/* #sub-nav-items li:nth-child(2):hover ~ #earings, */
/* #sub-nav-items li:nth-child(3):hover ~ #bracelates { */
/* display: block; */
/* z-index: 5; */
/* } */

/* .navbar:has(#nav-items-rings:hover) #rings { */
    /* display: flex; */
/* } */

/* .navbar:has(#nav-items-earrings:hover) #earings { */
    /* display: flex; */
/* } */

/* .navbar:has(#nav-items-braclates:hover) #bracelates { */
    /* display: flex; */
/* } */

.hidden-items {
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopeBy {
    width: 50%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
}

.shopebyitems {
    height: 90%;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.2fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.shopeByStyle {
    grid-column: span 2;
}



.grid img {
    height: 31px;
    width: 31px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.grid a,
.shopebyitems a {
    color: #767676;
    font-size: 12px;
}

.image {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    width: 100%;
}

.hidden-nav img {
    align-items: center;
}
.shopeByStyle a,
.title a,
#title a {
    font-family: Lora;
    font-size: 12px;
    font-weight: 500;
    line-height: 18.75px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #5A1F8B;
}
.padding {
    padding-left: 50px;
}

.herosectionimg {
    width: auto;
    height: 484px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 30px;
}

.herosectionimg img {
    width: 1200px;
    height: 422px;
}

.feature {
    width: 100%;
    height: 637px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-products {
    width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature-name {
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    line-height: 63px;
    color: #1F1726;
}

.feature-name p {
    color: #5A1F8B;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
}

.feature-cards {
    display: flex;
    align-items: center;
    gap: 16px;
    overflow: hidden;
}

.button-img {
    width: 300px;
    height: 319px;
    overflow: hidden;
    position: relative;
}

.button-img img {
    width: 100%;
    height: 100%;
}

.feature-button {
    width: 100%;
    position: absolute;
    bottom: 0;

    transition: all 1s;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 14px;
    display: none;
}

.feature-button .circle {
    background: #E9DAFB;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 29px;
    width: 29px;
    margin-right: 10px;
}

.feature-button .circle img {
    height: 24px;
    width: 24px;

}

.feature-button .buy {
    width: 277px;
    height: 36.06px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5A1F8B;
    border: none;
    color: goldenrod;
    align-self: center;
    margin-bottom: 10px;
}

.feature-button .buy h4 {
    font-size: 16.98px;
    font-weight: 500;
    line-height: 26.53px;
    letter-spacing: 0.1em;
    text-align: left;

}

.button-img:hover .feature-button {
    display: flex;
}

.button-img:hover .zoom {
    transform: scale(1.3);
}

.feature-cards h4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-align: left;
    text-transform: uppercase;
}

.new-arrival {
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-arrival .yellow-section {
    height: 517px;
    width: 100%;
    background: #D4AF37;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards .inner-card {
    display: flex;
    flex-direction: column;
}

.new-arrival .yellow-section .content {
    height: 422px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.yellow-section .content h2 {
    height: 62px;
    width: 100%;
    font-size: 40px;
    font-weight: 500;
    line-height: 63px;
    text-align: center;
    color: #1F1726;
}

.yellow-section .content p {
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.yellow-section .content .cards {
    height: 576px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 32px;
}

.content .cards .left {
    height: 267px;
    width: 50%;
    background: white;
    display: flex;
    justify-content: center;
}

.content .cards .right {
    height: 267px;
    flex: 1;
    background: white;
    display: flex;
    justify-content: center;
}

.cards .inner-card {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards .inner-card .container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.inner-card .container .content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
}

.container .content .img {
    width: 40.4%;
    height: 100%;
    background-color: red;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-x: scroll;

}

.new-arrival-img-container {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.container .content .img::-webkit-scrollbar {
    display: none;
}

.container .content .para {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.content .para h5 {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #A3A3A3;
}

.content .para h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.content .para h4 {
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    color: #5A1F8B;
}

.content .para p {
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    color: #A3A3A3;
}

.container .content .para h6 {
    font-family: Lora;
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    color: #D4AF37;
}

.button-icons {
    height: 29px;
    width: 100%px;
    display: flex;
    gap: 17px;
}

.button-icons button {
    border: none;
    background: none;
}

.button-icons .arrival-circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #E9DAFB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-icons .arrival-circle svg {
    z-index: 1;
}

.arrival-circle:hover {
    background-color: #5A1F8B;

}

.arrival-circle:hover .fill {
    fill: #E8D7FF;
}

.arrival-circle:hover .stroke {
    stroke: #E8D7FF;
}

.arrival-scroll {
    width: 100.25px;
    height: 100%;
    align-self: start;
    display: flex;
    gap: 6.25px;

}

.new-arrival-img-container {
    background-image: url('/assets/new-arrival1.png');
}

.arrival-scroll .scroll-btn {
    height: 100%;
    width: 11.25px;
    border-radius: 50%;
    display: flex;
    background: #EAE5D7;
    border: none;
}

.arrival-scroll button.active {
    background-color: #BBBBBB;
}


.categories-body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories {
    height: 733px;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center
}

.categories-sub {
    width: 75%;
    height: 89%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.categories-heading {
    height: 16%;
    width: 51%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.categories-heading h2 {
    font-family: Lora;
    font-size: 40px;
    font-weight: 500;
    line-height: 63px;
    text-align: left;
    color: #1F1726;
}

.categories-heading p {
    font-family: Lora;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #5A1F8B;
    text-transform: uppercase;
}

.categories-cards {
    height: 81%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;

}

.categories-cards .categories-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.categories-cards .categories-card h2 {
    font-family: Lora;
    font-size: 14.4px;
    font-weight: 500;
    line-height: 16.88px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #1F1726;
}

.categories-cards .categories-card p {
    font-family: Lora;
    font-size: 10.8px;
    font-weight: 500;
    line-height: 16.88px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #5A1F8B;
}

.primium-body {
    width: 100%;
    height: 100%;
}

.primium {
    width: 1440px;
    height: 528px;
    display: flex;
    align-items: center;
}

.primium-range {
    width: 81%;
    height: 78%;
    display: flex;
    justify-content: space-between;
}

.primium-range .img {
    width: 54.8%;
    height: 100%;
}

.unique-collection {
    width: 41%;
}

.unique-collection h2 {
    font-family: Lora;
    font-size: 32px;
    font-weight: 400;
    line-height: 41px;
    text-align: left;
    color: #1F1726;
}

.unique-collection h3 {
    font-family: Lora;
    font-size: 20px;
    font-weight: 400;
    line-height: 41px;
    text-align: left;
    color: #767676;
}

.unique-collection a p {
    font-family: Lora;
    font-size: 16px;
    font-weight: 700;
    line-height: 26.53px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #5A1F8B;
}

.unique-collection a {
    text-decoration: none;
}

.explore {
    width: max-content;
    font-size: large;
    cursor: pointer;
}

.explore::after {
    content: '';
    width: 100%;
    height: 1.5px;
    background: #5A1F8B;
    display: block;
    margin: auto;
    bottom: 1px;
    right: 1px;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.explore:hover::after {
    transform: scaleX(1);
}

.categories-card:hover .explore::after {
    transform: scaleX(1);
}


.warrenty-body {
    width: 100%;
    height: 163px;
    background-color: #5A1F8B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.warrenty-section {
    width: 85%;
    height: 37.5%;
    display: flex;
    justify-content: space-between;
}

.warrenty-parts {
    width: 22.1%;
    height: 100%;
    display: flex;
    gap: 10px;
}

.warrenty-logo {
    height: 100%;
    width: 21.51%;

}

.warrenty-contain {
    height: 78.49%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.warrenty-contain h4 {
    font-family: Lora;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #D4AF37;
}

.warrenty-contain p {
    font-family: Lora;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: white;
}

.instagram-body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram-main {
    height: 765px;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instragram {
    height: 84.95%;
    width: 67.5%;
}

.instagram-heading {
    width: 100%;
    height: 19.1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.instagram-heading h3 {
    font-family: Lora;
    font-size: 40px;
    font-weight: 500;
    line-height: 63px;
    text-align: left;
    color: #1F1726;
}

.instagram-heading p {
    font-family: Lora;
    font-size: 12px;
    font-weight: 500;
    line-height: 18.75px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #5A1F8B;
}

.instagram-cards {
    height: 80.9%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.instagram-cards .card {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.instagram-cards .card .svg {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.679);
    transition-duration: background-color 3s;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    display: none;
}

.instagram-cards .card:hover .svg {
    display: flex;
}

.testimonials-body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials {
    width: 1440px;
    height: 485px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.testimonials-main {
    width: 46.15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
}

.testimonials-heading {
    width: 100%;
}

.testimonials-heading h3 {
    font-family: Lora;
    font-size: 36px;
    font-weight: 500;
    line-height: 46.08px;
    text-align: center;
    color: #1F1726;
}

.testimonials-cards {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 15%;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.testimonials-cards::-webkit-scrollbar {
    display: none;
}

.testimonials-cards .card-contain {
    width: 78.56%;
    height: 92.21%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.testimonials-cards .card {
    width: 149.24px;
    height: 166.25px;
    flex-shrink: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    /* opacity: 0.5; */
    /* transform: scale(1); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonials-cards .card svg {
    justify-self: center;
}

.testimonials-cards .card h2 {
    font-family: Lora;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.36px;
    text-align: center;
}

.testimonials-cards .card h3 {
    font-family: Lato;
    font-size: 9px;
    font-weight: 400;
    line-height: 10.8px;
    text-align: center;
    color: #5A1F8B;
}

.testimonials-cards .card p {
    font-family: Lora;
    font-size: 8px;
    font-weight: 400;
    line-height: 10.24px;
    text-align: center;

}

.review {
    height: 10px;
    width: 62px;
    display: flex;
    justify-content: center;
}

.testimonials-buttons {
    width: 20%;
    height: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

.testimonials-buttons label {
    width: 7%;
    height: 55%;
    background-color: #767676;
    border-radius: 50%;
    box-shadow: none;
    border: none;
    transition: all 0.2s ease;
}

.testimonials-buttons label.active {
    background-color: #5A1F8B;
    width: 11%;
    height: 100%;
}

#testimonials-one:checked~.testimonials-buttons label.testimonials-one {
    background-color: #5A1F8B;
    width: 11%;
    height: 100%;
}

#testimonials-two:checked~.testimonials-buttons label.testimonials-two {
    background-color: #5A1F8B;
    width: 11%;
    height: 100%;
}

#testimonials-three:checked~.testimonials-buttons label.testimonials-three {
    background-color: #5A1F8B;
    width: 11%;
    height: 100%;
}

#testimonials-four:checked~.testimonials-buttons label.testimonials-four {
    background-color: #5A1F8B;
    width: 11%;
    height: 100%;
}

#testimonials-five:checked~.testimonials-buttons label.testimonials-five {
    background-color: #5A1F8B;
    width: 11%;
    height: 100%;
}

#testimonials-one:checked~.testimonials-buttons label.testimonials-two,
label.testimonials-three,
label.testimonials-four,
label.testimonials-five {
    width: 7%;
    height: 55%;
    background-color: #767676;
    border-radius: 50%;
}

#testimonials-two:checked~.testimonials-buttons label.testimonials-one,
label.testimonials-three,
label.testimonials-four,
label.testimonials-five {
    width: 7%;
    height: 55%;
    background-color: #767676;
    border-radius: 50%;
}

#testimonials-three:checked~.testimonials-buttons label.testimonials-two,
label.testimonials-one,
label.testimonials-four,
label.testimonials-five {
    width: 7%;
    height: 55%;
    background-color: #767676;
    border-radius: 50%;
}

#testimonials-four:checked~.testimonials-buttons label.testimonials-two,
label.testimonials-three,
label.testimonials-one,
label.testimonials-five {
    width: 7%;
    height: 55%;
    background-color: #767676;
    border-radius: 50%;
}

#testimonials-five:checked~.testimonials-buttons label.testimonials-two,
label.testimonials-three,
label.testimonials-four,
label.testimonials-one {
    width: 7%;
    height: 55%;
    background-color: #767676;
    border-radius: 50%;
}

input[type="radio"] {
    display: none;
}

.testimonials-cards .card.active {
    opacity: 1;
    transform: scale(1.9);
    background-color: #E8D7FF;
    z-index: 10;
}

.ourblog-body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ourblog {
    width: 1440px;
    height: 657px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ourblog-main {
    width: 66.833%;
    height: 75.6621%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.ourblog-cards {
    height: 78.6964393%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ourblog-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ourblog-heading h2 {
    font-family: Lora;
    font-size: 40px;
    font-weight: 500;
    line-height: 63px;
    text-align: left;
    color: #1F1726;
}

.ourblog-heading p {
    font-family: Lora;
    font-size: 12px;
    font-weight: 500;
    line-height: 18.75px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #5A1F8B;
}

.ourblog-cards .cards {
    width: 30.8395677%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.ourblog-cards .img {
    width: 100%;
    height: 55.6468172%;
    background-size: contain;
    background-repeat: no-repeat;
}

.ourblog-cards .heading {
    width: 100%;
    height: 10%;
    font-family: Lora;
    font-size: 12.8px;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: 0.24000000953674316px;
    text-align: left;
    color: #161412;
    display: flex;
}

.ourblog-cards .para {
    width: 100%;
    height: 23.613963%;
    font-size: 9.6px;
    font-weight: 400;
    line-height: 15.2px;
    text-align: left;
    color: #65635F;
    display: flex;
}

.ourblog-cards .anchor {
    width: 100%;
    height: 4.1%;
    display: flex;
}

.ourblog-cards .anchor a {
    font-family: Lora;
    font-size: 9.6px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #5A1F8B;
    text-decoration: none;
}

.footer-body {
    width: 100%;
    height: 100%;
    background-color: #5A1F8B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    width: 1440px;
    height: 326px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5A1F8B;
}

.footer-main {
    width: 81.3194444%;
    height: 88.19%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-content {
    height: 91.47826%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    height: 100%;
    width: 25.2536294%;
    display: flex;
    justify-content: space-between
}

.footer-newsletter {
    width: 53.7835722%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5%;
}

.footer-newsletter .logo {
    width: 78.481%;
    height: 20.98%;
    background-image: url(./assets/footerlogo.png);
    background-size: contain;
    background-repeat: no-repeat;
}



.footer-newsletter h2 {
    font-family: Lora;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.48px;
    text-align: center;
    color: #D4AF37;
}

.footer-newsletter p {
    font-family: Lora;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.36px;
    text-align: center;
    color: #A3A3A3;
}

.footer-newsletter hr {
    width: 100%;
    height: 1px;
    background: transparent;
    background-color: white;
    border: none;
    margin: 0;
    padding: 0;
}

.subscribe {
    width: 127px;
    height: 30px;
    border: none;
    border-radius: 3px;
    text-align: center;
    font-family: Lora;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.53px;
    letter-spacing: 0.1em;
    color: #5A1F8B;
    transition: .3s ease;
}

.subscribe:hover {
    filter: brightness(80%);
    transition: .3s ease;
}

.footer-socialmedia {
    width: 34.3023455%;
    height: 100%;
    gap: 6.8441%;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    top: 25%;
}

.social-icons {
    width: 100%;
    height: 8.1977%;
    display: flex;
    justify-content: space-between;
}

.footer-socialmedia h2 {
    font-family: Lora;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.48px;
    text-align: center;
    color: #D4AF37;
}

.footer-links {
    height: 100%;
    width: 37.147737%;
    display: flex;
    gap: 20.9195%;
}

.jwelary,
.links,
.help {
    height: 100%;
    width: max-content;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.562737642585551%;

}

.footer-links a {
    text-decoration: none;
}

.footer-links h3 {
    margin-bottom: 15px;
    font-family: Lora;
    font-size: 18px;
    font-weight: 500;
    line-height: 23.04px;
    text-align: left;

}

.footer-links h3 a {
    color: #D4AF37;
    text-decoration: none;
}

.footer-links li a {
    font-family: Lora;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.36px;
    text-align: left;
    color: #FFFFFF;
}

.footer-contact {
    width: 19.7267293%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4.562737642585551%;
}

.footer-contact h3 {
    font-family: Lora;
    font-size: 18px;
    font-weight: 500;
    line-height: 23.04px;
    text-align: left;
    color: #D4AF37;
    margin-bottom: 13%;
}

.footer-contact a {
    font-family: Lora;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.36px;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-contact .email,
.phone {
    gap: 4.562737642585551%;
    display: flex;
    text-align: center;
}

.copyright {
    width: 100%;
    height: 8.52173913%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.copyright hr {
    width: 100%;
    height: 1px;
    background: transparent;
    background-color: #D4AF37;
    border: none;
    margin: 0;
    padding: 0;
}

.copyright p {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    line-height: 14.06px;
    text-align: left;
    color: #FFFFFF;
}